.home {

  .navbar {
    margin-bottom: 0;
  }

  .thumbnails {
    margin-top: 40px;
  }

  .thumbnail {
    border: none;
    text-align: center;

    .fa {
      color: $base-blue;
      font-size: 76px;
    }
  }
}