// Reset & Mixins ———————————————————————————— •
// ——————————————————————————————————————————— •
@charset "UTF-8";

@import
  'globals/mixins';


$font-sans: lato, Helvetica, "Lucida Grand", Arial, sans-serif;

$base-blue: #10397b;

// Base Styles ——————————————————————————————— •
// ——————————————————————————————————————————— •


html, body {
  font-family: $font-sans;
  font-size: 16px;
  height: 100%;
  // padding-top: 100px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -180px;
}

a {
  color: $base-blue;
  text-decoration: none;

  &:visited { color: $base-blue; }
  &:hover { color: $base-blue; text-decoration: none; }
  &:active { color: $base-blue; }
}

.banner {
  background: url('/images/chicago-skyline-panorama-blue.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  text-align: center;

  h1 {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    padding: 80px 0 10px;
  }

  p {
    color: #fff;
    font-size: 18px;
  }

  .btn-default {
    background: transparent;
    color: #fff;

    &:hover {
      @include transition(all 0.4s ease-in-out);
      background: #fff;
      color: #444;
    }
  }

  i {
    margin-left: 6px;
  }
}


h2 {
  border-bottom: 1px solid $base-blue;
  font-weight: 300;
}


// Components ———————————————————————————————— •
// ——————————————————————————————————————————— •

@import
  'components/navigation',
  'components/footer';
