.home {

  .navbar {
    margin-bottom: 0;
  }

  .banner {
    background: url('/images/happy_family_outside_home.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    text-align: center;

    h1 {
      color: #fff;
      text-shadow: 1px 1px 0 #000;
      padding: 80px 0 10px;
    }

    p {
      color: #fff;
      font-size: 18px;
    }

    .btn-default {
      background: #fff;
      color: $base-blue;

      &:hover {
        @include transition(all 0.4s ease-in-out);
        background: #fff;
        color: #444;
      }
    }

    i {
      margin-left: 6px;
    }
  }

  .thumbnails {
    margin-top: 40px;
  }

  .thumbnail {
    border: none;
    text-align: center;

    .fa {
      color: $base-blue;
      font-size: 76px;
    }
  }
}

  // QUOTES

  .quotes {display: none;}

  blockquote {
   padding-top: 2em;
   margin-bottom: 60px;
   min-height: 220px;
   @media only screen and (max-width: 40em){
    min-height: 475px;
  }

  .featured-quote {
    color: $base-blue;
    font-style: italic;

    &:before{
      content: "\201C";
      font-size: 200px;
      left: -42px;
      opacity: 0.3;
      position: absolute;
      top: -31px;
      width: 100%;
    }
  }

  cite {
    color: #444;
    text-align: right;
  }

}