// Footer ———————————————————————————————————— •
// ——————————————————————————————————————————— •

#push, #footer {
	height: 240px;
}

footer {
	background-color: $base-blue;
	color: #fff;
	padding: 20px 0;
	margin-top: 40px;
	font-size: 12px;


	address {
		a {
			color: #fff;
		}
		margin: 0;
	}

	.disclaimer {
		color: #ddd;
	}
}

.disclaimer {
	padding-top: 40px
}

#bbblink {
	float: right;
}

/* Portrait and Landscape */
@media only screen and (max-width: 768px) {

	#footer {
		height: 100%;
	}

	address {
		padding-bottom: 20px;
	}

	#bbblink {
		float: left;
	}

}