html, body {
  font-family: lato, Helvetica, "Lucida Grand", Arial, sans-serif;
  font-size: 16px;
  height: 100%; }

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -160px; }

a {
  color: #10397b;
  text-decoration: none; }
  a:hover {
    color: #10397b;
    text-decoration: none; }
  a:active {
    color: #10397b; }

h2 {
  border-bottom: 1px solid #10397b;
  font-weight: 300; }

.navbar {
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(50, 50, 50, 0.75);
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.75);
  margin-bottom: 40px; }
  .navbar li {
    font-size: 18px;
    text-transform: uppercase; }

.navbar-brand,
.navbar-nav li a {
  line-height: 100px;
  height: 100px;
  padding-top: 0; }

.logo {
  width: 360px; }

button.navbar-toggle {
  background-color: #10397b;
  margin-top: 34px; }
  button.navbar-toggle .fa-bars {
    color: #fff;
    font-size: 18px; }

#push, #footer {
  height: 160px; }

footer {
  background-color: #10397b;
  color: #fff;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 12px; }
  footer address {
    margin: 0; }
    footer address a {
      color: #fff; }
  footer .disclaimer {
    color: #ddd; }

.home .navbar {
  margin-bottom: 0; }
.home .banner {
  background: url("/images/happy_family_outside_home.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  text-align: center; }
  .home .banner h1 {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    padding: 80px 0 10px; }
  .home .banner p {
    color: #fff;
    font-size: 18px; }
  .home .banner .btn-default {
    background: #fff;
    color: #10397b; }
    .home .banner .btn-default:hover {
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      background: #fff;
      color: #444; }
  .home .banner i {
    margin-left: 6px; }
.home .thumbnails {
  margin-top: 40px; }
.home .thumbnail {
  border: none;
  text-align: center; }
  .home .thumbnail .fa {
    color: #10397b;
    font-size: 76px; }

.apply .app-icon {
  margin-top: 20px;
  width: 120px; }

.contact address {
  margin-top: 20px; }
