// Footer ———————————————————————————————————— •
// ——————————————————————————————————————————— •

#push, #footer {
	height: 200px;
}

footer {
	background-color: $base-blue;
	color: #fff;
	padding: 20px 0;
	margin-top: 40px;
}