// Navigation ———————————————————————————————— •
// ——————————————————————————————————————————— •

.navbar {
	background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(50,50,50,.75);
  box-shadow: 0 0 4px rgba(50,50,50,.75);
  margin-bottom: 40px;

  li {
  	font-size: 18px;
  	text-transform: uppercase;
  }
}

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}

.logo {
	width: 360px;
}


button.navbar-toggle {
	background-color: $base-blue;
	margin-top: 34px;

	.fa-bars {
		color: #fff;
		font-size: 18px;
	}
}