
// Base Styles ——————————————————————————————— •
// ——————————————————————————————————————————— •


html, body {
  font-family: $font-sans;
  font-size: 16px;
  height: 100%;
  // padding-top: 100px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -240px;
}

a {
  color: $base-blue;
  text-decoration: none;

  &:hover { color: $base-blue; text-decoration: none; }
  &:active { color: $base-blue; }
}

h2 {
  border-bottom: 1px solid $base-blue;
  font-weight: 300;
}

h4 {
  line-height: 1.3em
}