<footer>
	<div class="row">
		<div class="large-4 columns">
			<address>
			  North Shore Holdings, Ltd.<br>
			  6859 West Belmont Avenue<br>
			  Chicago, IL 60634<br>
			  P: (847) 337-7277<br>
			  F: (773) 305-2788<br>
			  <a href="mailto:help@northshoreholdingsltd.com" target="_top">help@northshoreholdingsltd.com</a>
			</address>
		</div>
		<div class="large-8 columns">
			<p class="disclaimer">
				North Shore Holdings, Ltd. does not discriminate in the sale, rental and/or financing of dwellings on the basis of race, color, national origin, ancestry, religion, sex, age, familial status, marital status, parental status, handicap, disability, sexual orientation, transgender status, transsexual status, military status, unfavorable discharge from military service, source of income or any legally protected class.
				The accuracy of all information, regardless of source, including but not limited to square footages and lot sizes, is deemed reliable but not guaranteed and should be personally verified through personal inspection by and/or with the appropriate professionals.
			</p>
		</div>
	</div>
</footer>